@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@mixin breakMin($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin breakMax($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

body {
    @include desktop {
        overflow-x: hidden;
    }
}

#navbar {
    z-index: 10;
    display: none;

    @include desktop {
        display: block;
        font-size: 1.3rem;
        padding: 1.3rem 0rem;
        position: absolute;

        a {
            text-decoration: none;
            padding: 0.4rem;

            &.selected {
                font-weight: bold;

                &::before {
                    content: ">";
                }
            }

            &:first-child {
                margin-left: 2rem;
            }

            &:not(:last-child) {
                margin-right: 4rem;
            }
        }

        &.nav-red-bg {
            a {
                color: #fff;
                text-decoration: none;
                padding: 0.4rem;

                &.selected {
                    font-weight: bold;

                    &::before {
                        content: ">";
                    }
                }

                &:visited {
                    color: #fff;
                }

                &:hover {
                    background-color: #000000;
                    color: #fff;
                }

                &:first-child {
                    margin-left: 2rem;
                }

                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }
        }
        &.nav-white-bg {
            a {
                color: #000000;
                text-decoration: none;
                padding: 0.4rem;

                &.selected {
                    font-weight: bold;

                    &::before {
                        content: ">";
                    }
                }

                &:visited {
                    color: #000000;
                }

                &:hover {
                    background-color: #c8102e;
                    color: #fff;
                }

                &:first-child {
                    margin-left: 2rem;
                }

                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }
        }
    }
}

.ham-menu {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    position: absolute;
    margin: 1rem;
    padding: 0;
    z-index: 20;

    @include desktop {
        &.ham-menu {
            display: none;
        }
    }
}

#navmenu {
    position: absolute;
    z-index: 30;
    width: 100vw;
    height: 100%;
    background-color: #c8102f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
        width: min-content;
        display: block;
        cursor: pointer;
        transition: 0.1s;
        margin: 0.2rem;

        &:hover {
            transition: 0.1s;
            transform: scale(1.1);
        }
    }

    .navlist-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        height: max-content;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1rem;

        .link-div {
            width: 100%;
            transform-origin: top;
            height: 300px;

            &:not(:last-child){
                margin-bottom: .4rem;
            }
            
            a {
                text-decoration: none;
                width: 100%;
                height: inherit;
                text-align: center;
                font-weight: bolder;
                font-size: 1.7rem;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                

                &:visited {
                    color: #c8102e;
                }
            }
        }
    }
}

#home {
    width: 100%;

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            p {
                text-align: center;
                font-size: 1.75rem;
                font-weight: bold;
                padding: 0rem 0rem 0rem;
                margin: 0;
                height: min-content;
            }

            .threeD-element {
                background-color: #c8102e;
                width: 100%;
                text-align: center;
                height: 50%;
                margin: 2rem 0rem;
            }

            a {
                background-color: #c8102e;
                color: #fff;
                font-weight: bolder;
                padding: 1rem 2.8rem;
                text-decoration: none;
                transition: 0.2s;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s;
                }

                &:visited {
                    color: #fff;
                }
            }
            .socials {
                display: flex;

                a {
                    img {
                        filter: invert(16%) sepia(99%) saturate(4405%) hue-rotate(343deg) brightness(79%) contrast(98%);
                        width: 3rem;
                    }

                    &:not(:last-of-type) {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .desktop {
        display: none;
    }

    @include desktop {
        .mobile {
            display: none;
        }

        .desktop {
            display: block;
            position: relative;
            overflow: hidden;
        }

        .content {
            display: flex;
            height: 100vh;
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;

            .intro-and-socials {
                p {
                    font-size: 2.3rem;
                }

                a {
                    background-color: #c8102e;
                    color: #fff;
                    font-weight: bolder;
                    padding: 1rem 2.8rem;
                    text-decoration: none;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.2s;
                    }

                    &:visited {
                        color: #fff;
                    }
                }
            }
            .threeD {
                border: 5px solid;
                height: 400px;
                width: 40%;
                overflow: visible;
            }
        }

        .red-skewed-bg {
            position: absolute;
            z-index: -1;
            background-color: #c8102e;
            padding-top: 5rem;
            width: 55vw;
            height: 170vh;
            top: -5rem;
            transform: rotate(30deg);
        }
    }
}

#habilidades {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    position: relative;
    display: flex;
    align-items: flex-start;

    .red-skewed-bg {
        position: absolute;
        top: 0;
        z-index: -1;
        background-color: #c8102e;
        width: 100%;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 2.4rem;
        margin-top: 4rem;

        h2 {
            color: #fff;

            &:last-of-type {
                margin-top: 4rem;
            }
        }

        img {
            width: 4rem;
            height: 4rem;

            &:not(:last-of-type) {
                margin-right: 1.5rem;
            }
        }

        .stack {
            display: grid;
            grid-template-columns: repeat(auto-fit, 5.75rem);
            gap: 2rem 0rem;

            span {
                max-width: min-content;
                min-width: 5.75rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: #fff;
                font-weight: bold;

                img {
                    margin-bottom: 0.5rem;
                }
            }

            &:last-child {
                margin-bottom: 3rem;
                span {
                    &:last-child {
                        img {
                            margin-right: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    @include desktop {
        background-color: unset;
    }
}

#projetos {
    min-height: 100vh;
    width: 100%;

    .filters {
        margin-left: 2.4rem;
        padding-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 650px;

        .form-control {
            font-size: 1rem;
            font-weight: bold;
            line-height: 0.9;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            cursor: pointer;

            input[type="checkbox"] {
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                margin: 0;
                color: currentColor;
                width: 1.15em;
                height: 1.15em;
                border: 0.15em solid #c8102e;
                border-radius: 0;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;

                &::before {
                    content: "";
                    width: 0.35em;
                    height: 0.4em;
                    transform: scale(0);
                    box-shadow: inset 1em 1em #c8102e;
                }

                &:checked::before {
                    transform: scale(1);
                }
            }
        }

        button {
            padding: 0.5rem;
            cursor: pointer;
            border: none;
            line-height: 0.9;
            background-color: #c8102e;
            color: #fff;
        }
    }

    .filtered-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 2rem;
        margin: 1rem 2.4rem;

        .project {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            text-decoration: none;
            color: #000000;

            h1 {
                font-weight: 500;
                font-size: 1rem;
            }

            img {
                border: 3px solid black;
                border-radius: 5px;
                width: 100%;
                height: 320px;
                object-fit: cover;
            }

            p {
                font-size: 0.8rem;
            }
            .tags {
                span {
                    padding: 0.15rem;
                    border: 1px solid black;
                    font-size: 0.8rem;

                    &:not(:last-of-type) {
                        margin-right: 0.1rem;
                    }
                }
            }

            &:visited {
                color: #000000;
            }
        }
    }
    .red-skewed-bg {
        position: absolute;
        top: 0;
        z-index: -1;
        background-color: #c8102e;
        width: 100vw;
        height: 4.5rem;
    }
}

#detalhes-projeto {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .red-skewed-bg-mobile {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #c8102e;
    }

    .red-skewed-bg-desktop {
        display: none;
    }

    .thumbnail {
        text-align: left;

        .content {
            margin: 5rem 2.4rem 0rem;

            h1 {
                font-size: 1.5rem;
            }

            img {
                width: 100%;
                border: 5px solid #000000;
            }
        }
    }

    .description {
        .content {
            margin: 2rem 2.4rem 0rem;

            h1 {
                font-size: 1.5rem;
            }
        }
    }

    @include desktop {
        flex-direction: row;

        .red-skewed-bg-mobile{
            display: none;
        }

        .red-skewed-bg-desktop {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: #c8102e;
            width: 100vw;
            height: 4.5rem;
            display: block;
        }

        .thumbnail {
            width: 50%;
            display: flex;
            flex-direction: column;

            .content {
                margin: 7rem 2.4rem 0rem;

                h1 {
                    margin-top: 0;
                    font-size: 1.7rem;
                    color: #fff;
                    text-align: left;
                }
                img {
                    margin: 0 auto;
                    height: 300px;
                    border: 5px solid white;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .description {
            width: 50%;

            .content {
                margin: 7rem 2.4rem 0rem;

                h1 {
                    margin: 0;
                    font-size: 1.7rem;
                }

                ul {
                    padding: 0;
                    margin-left: 1rem;
                    li {
                        list-style: square;
                    }
                }
            }
        }
    }
}

#contato {
    width: 100%;
    max-height: 100vh;

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;

        .content {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 9rem;

            h1 {
                font-size: 3rem;
                margin: 0 auto;

                .underscore {
                    animation: blinker 1s step-start infinite;
                }

                @keyframes blinker {
                    50% {
                        opacity: 0;
                    }
                }
            }

            .contact-info {
                width: max-content;
                margin-top: 2rem;

                .social {
                    display: flex;
                    margin-bottom: 0.8rem;
                    min-width: max-content;
                    align-items: center;
                    font-size: 1.2rem;

                    span {
                        font-weight: 500;
                        width: 100px;
                    }

                    a {
                        min-width: 250px;
                        margin-left: auto;
                        background-color: #c8102e;
                        color: #fff;
                        padding: 0.3rem;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .desktop {
        display: none;
    }

    @include desktop {
        .mobile {
            display: none;
        }

        .desktop {
            display: block;
            position: relative;
            overflow: hidden;
        }

        .content {
            height: 100vh;
            padding-left: 4.8rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 9rem;

            h1 {
                width: 100%;
                font-size: 3rem;
                margin: 0;

                .underscore {
                    animation: blinker 1s step-start infinite;
                }

                @keyframes blinker {
                    50% {
                        opacity: 0;
                    }
                }
            }

            .contact-info {
                width: max-content;
                margin-top: 2rem;

                .social {
                    display: flex;
                    margin-bottom: 0.8rem;
                    min-width: max-content;
                    // border: 1px solid;
                    align-items: center;
                    font-size: 1.2rem;

                    span {
                        font-weight: 500;
                        width: 100px;
                    }

                    a {
                        min-width: 250px;
                        margin-left: auto;
                        background-color: #c8102e;
                        color: #fff;
                        padding: 0.3rem;
                        text-decoration: none;
                    }
                }
            }
        }

        .red-skewed-bg {
            position: absolute;
            z-index: -1;
            background-color: #c8102e;
            padding-top: 5rem;
            width: 100vw;
            height: 170vh;
            top: -5rem;
            right: -4rem;
            transform: rotate(30deg);
        }
    }
}
